.twemoji {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

.twemoji-default {
  margin-left: 0.1em;
  margin-right: 0.1em;
  width: 1em;
  height: 1em;
  vertical-align: -0.1em;
}

.twemoji-lg {
  margin-left: 0.133em;
  margin-right: 0.0665em;
  width: 1.33em;
  height: 1.33em;
  vertical-align: -0.133em;
}

.twemoji-2x {
  margin-left: 0.2em;
  margin-right: 0.1em;
  width: 2em;
  height: 2em;
  vertical-align: -0.2em;
}

.twemoji-3x {
  margin-left: 0.3em;
  margin-right: 0.15em;
  width: 3em;
  height: 3em;
  vertical-align: -0.3em;
}

.twemoji-4x {
  margin-left: 0.4em;
  margin-right: 0.2em;
  width: 4em;
  height: 4em;
  vertical-align: -0.4em;
}

.twemoji-5x {
  margin-left: 0.5em;
  margin-right: 0.25em;
  width: 5em;
  height: 5em;
  vertical-align: -0.5em;
}
